# dependencies
node_modules

# testing
coverage

# production
/build

# generated sources
/src/articles
/public/articles


# misc
.DS_Store
.env
npm-debug.log

# don't push private things
secrets.*
# push their encrypted versions
!secrets.*.encrypted
